@charset "UTF-8";
/* Home ---------------------------------------- */

.banner {
    /* https://www.nombresuniverso.com/blog/nebulosa-tulipan-sh2-101-3/ */
    background-image: url(Images/fondo-rojo.jpg);
}

.banner-title {
    color: white;
}

.vertical-nav {
    display: block;
}

.primary-jumbo {
    font-size: 60px;
    font-family: 'Segoe UI';
}

.tx-white {
    color: white;
}

.news-card {
    transition: transform 1s;
    padding-bottom: 5%;
    padding-top: 3%;
    background-color: rgb(221, 218, 213);
}

.reference {
    font-family: 'Times New Roman';
}

.news-card h1 {
    text-align: center;
}

.news-card:hover {
    transform: scale(1.1);
    background-image: linear-gradient(rgb(133, 33, 33), rgb(177, 151, 151));
    color: white;
    z-index: 1;
}

/* Lugares------------------------------------------ */

.flex-row-place {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

.flex-col-place {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.place-card {
    text-align: left;
    background-color: rgb(221, 218, 213);
    margin: 2%;
}

.place-card h4 {
    padding-left: 20px;
    padding-bottom: 2%;
}

.place-card p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.place-info {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

.btn-source {
    background-color: rgb(241, 241, 245);
    padding: 1%;
    padding-left: 2%;
    border-radius: 10px;
    margin: 5%;
    width: 20%;
}

.btn-source a {
    text-decoration: none !important;
    color: black;
}

.btn-source:hover {
    background-color: rgb(13, 135, 184);
    color: white;
}

.btn-source:hover a {
    color: white;
}

.place-card img {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}

.place-card:hover {
    background-image: linear-gradient(red, rgb(185, 98, 98));
    color: white;
}

/* Animacion lugares */

.place-card:hover .place-info {
    max-height: 700px;
}

/* Personajes---------------------------------------- */

.flex-row-ch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

.flex-col-ch {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 2%;
    height: 0%;
}

.ch-card {
    text-align: left;
    background-color: rgb(221, 218, 213);
}

.ch-card h4 {
    padding-left: 20px;
    padding-bottom: 2%;
}

.ch-card p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.ch-source {
    background-color: rgb(207, 204, 204);
    color: rgb(19, 18, 18);
    padding: 4%;
    padding-left: 20px;
    vertical-align: middle;
}

.ch-card img {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}

.ch-card:hover {
    background-image: linear-gradient(red, rgb(185, 98, 98));
    color: white;
    z-index: 1;
}

/* Eventos------------------------------------- */

.flex-row-evt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 6%;
    padding-right: 6%;
    margin: auto;
}

.flex-col-evt {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.evt-card {
    text-align: center;
    background-color: rgb(221, 218, 213);
    margin: 2%;
    position: relative;
    height: 20%;
}

.evt-card img {
    width: 100%;
    height: 80%;
}

/* Selectores */

.evt-info {
    opacity: 0;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.evt-info p {
    margin: 3%;
}

.evt-info h4 {
    margin: 3%;
}

.evt-card:hover .evt-info {
    opacity: 1;
}

.evt-info .btn-source {
    margin-left: 40%;
}

/* Historia del universo marvel---------------- */

.hi-container {
    position: relative;
}

.hi-row {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 30%;
}

.hi {
    margin-bottom: 10px;
    width: 10%;
}

.date {
    padding: 6px;
    padding-left: 50%;
    padding-right: 50%;
    border-style: solid;
    border-width: 1px;
}

.date:hover {
    background-color: rgb(207, 118, 118);
}

.hi-info img {
    width: 40%;
    height: 40%;
}

/* Selectores */

.hi-info {
    display: none;
}

.hi:hover .hi-info {
    display: block;
    position: absolute;
    top: -5%;
    left: 25%;
    right: 20%;
}

/* Creditos-------------------------- */

.cred-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

.cred-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cred-row ul {
    list-style: none;
}

.cred-row ul li {
/*     border: black solid 1px;
 */    padding: 8px;
}

.cred-row ul li:hover {
    background-color: rgb(219, 196, 188);
}

/* Responsivines--------------------- */

@media only screen and (max-width: 1000px) {
    .flex-col-evt {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 40%;
        margin-left: 20%;
    }
}

@media only screen and (max-width: 800px) {
    .flex-col-ch {
        width: 50%;
    }
    .flex-row-ch {
        padding-left: 4%;
        padding-right: 4%;
    }
    .flex-col-place {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .flex-col-ch {
        width: 100%;
    }
    .flex-row-ch {
        padding-left: 4%;
        padding-right: 4%;
    }
    .flex-col-place {
        width: 100%;
    }
}