@charset "UTF-8";
/* Home ---------------------------------------- */
/* Fuente para todo el documento */
* {
    font-family: Verdana;
}

/* Fila de que se usa como introducción en cada pagina */

.cred-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    margin: auto;
}

/* Fila del panel de bienvenida */

.home-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0%;
}

/* Columna del panel de bienvenida */

.home-col {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    background-image: url(Images/fondo-rojo.jpg);
}

/* Pantalla negra que permite que el texto blanco se vea */

.black-screen {
    opacity: 1;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
}

/* Tamaño del titulo de la fuente */

.primary-jumbo {
    font-size: 60px;
}

/* Alineacion del texto del panel de bienvenida */

.tx-white {
    color: white;
    z-index: 1;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 10%;
}

/* Fila de noticias */

.news-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

/* Columna o tarjetas de noticias */

.news-card {
    display: flex;
    flex-direction: column;
    width: 31%;
    transition: transform 1s;
    padding-bottom: 5%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 1%;
    background-color: rgb(221, 218, 213);
    word-wrap: break-word;
}

/* Titulo de cada tarjeta */

.news-card h3 {
    text-align: center;
}

/* Titulo de la sección de noticias */

.news-title {
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

/* Tamaño de la imagen de cada tarjeta */

.news-card img {
    width: 100%;
}

/* Color de la referencia */

.reference {
    color: rgb(111, 101, 119);
}

/* Animación de la tarjeta al pasar el mouse sobre la tarjeta */

.news-card:hover {
    transform: scale(1.1);
    background-image: linear-gradient(red, rgb(185, 98, 98));
    color: white;
    z-index: 1;
}

/* El color del texto de la referencia cambia con el hover */

.news-card:hover .reference {
    color: rgb(224, 190, 190);
}

/* Lugares------------------------------------------ */

/* Fila de lugar */

.flex-row-place {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

/* Columnas de lugar */

.flex-col-place {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

/* Tarjeta de lugar */

.place-card {
    text-align: left;
    background-color: rgb(221, 218, 213);
    margin: 2%;
}

/* Titulo de la tarjeta */

.place-card h4 {
    padding-left: 20px;
    padding-bottom: 2%;
}

/* Texto de la tarjeta */

.place-card p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

/* Información oculta de la tarjeta */

.place-info {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

/* Botón de fuente de la información */

.btn-source {
    background-color: rgb(241, 241, 245);
    padding: 1%;
    padding-left: 2%;
    border-radius: 10px;
    margin: 5%;
    width: 20%;
}

/* Color y decoración del botón de fuente de información */

.btn-source a {
    text-decoration: none !important;
    color: black;
}

/* Cambio de color del botón de fuente al pasar el mouse sobre él */

.btn-source:hover {
    background-color: rgb(13, 135, 184);
    color: white;
}

/* Color de la letra del botón al cambiar de color debido al hover */

.btn-source:hover a {
    color: white;
}

/* Tamaño y posición de la imagen */

.place-card img {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}

/* Color de la tarjeta al pasar el mouse sobre ella */

.place-card:hover {
    background-image: linear-gradient(red, rgb(185, 98, 98));
    color: white;
}

/* Animación lugares */

/* La tarjeta crece y permite que la información se muestre */

.place-card:hover .place-info {
    max-height: 700px;
}

/* Personajes---------------------------------------- */

/* Fila de personajes */

.flex-row-ch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

/* Columna de personajes */

.flex-col-ch {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 10px;
    height: 0%;
}

/* Tarjeta de un personaje */

.ch-card {
    text-align: left;
    background-color: rgb(221, 218, 213);
    margin-bottom: 20px;
}

/* Titulo de la tarjeta */

.ch-card h4 {
    padding-left: 20px;
    padding-bottom: 2%;
}

/* Contenido de la tarjeta */

.ch-card p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

/* Footer de la tarjeta con la referencia de la información */

.ch-source {
    background-color: rgb(207, 204, 204);
    color: rgb(19, 18, 18);
    padding: 4%;
    padding-left: 20px;
    vertical-align: middle;
}

/* Tamaño y posición de la imagen */

.ch-card img {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}

/* Cambio de color de la tarjeta cuando se le pasa el mouse por encima */

.ch-card:hover {
    background-image: linear-gradient(red, rgb(185, 98, 98));
    color: white;
    z-index: 1;
}

/* Eventos------------------------------------- */

/* Fila de tarjetas de actividades */

.flex-row-evt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 6%;
    padding-right: 6%;
    margin: auto;
}

/* Columnas de  actividades*/

.flex-col-evt {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Tarjeta de actividades */

.evt-card {
    text-align: center;
    background-color: rgb(221, 218, 213);
    margin: 2%;
    position: relative;
    height: 100%;
}

/* Imagen de la tarjeta */

.evt-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Distancia del ancla del titulo respecto a la fila superior */

#ancla1 {
    padding-top: 50px;
}

/* Selectores */

/* Informacion de la tarjeta que tiene opacidad cero y por lo tanto aparece oculta */

.evt-info {
    opacity: 0;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

/* Posición del texto en la tarjeta */

.evt-info p {
    margin: 3%;
}

/* Posición del titulo */

.evt-info h4 {
    margin: 3%;
}

/* Al pasar el mouse sobre la tarjeta la opacidad pasa a 1 y se ve el texto encima de la imagen */

.evt-card:hover .evt-info {
    opacity: 1;
}

/* Posición y tamaño del botón de la fuente de información */

.evt-info .btn-source {
    margin-left: 46%;
    width: 45px;
    text-align: left;
}

/* Historia del universo marvel---------------- */

/* Contenedor del elemento flotante */

.hi-container {
    position: relative;
}

/* Fila de historias */

.hi-row {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 30%;
}

/* Tamaño de las celdas de la linea de tiempo */

.hi {
    margin-bottom: 10px;
    width: 10%;
}

/* Posición de la fecha */

.date {
    padding: 6px;
    padding-left: 50%;
    padding-right: 50%;
    border-style: solid;
    border-width: 1px;
}

/* La celda cambia de color cuando se le pasa el mouse por encima */

.date:hover {
    background-color: rgb(207, 118, 118);
}

/* Tamaño de la imagen */

.hi-info img {
    width: 50%;
    height: 50%;
}

/* Selectores */

/* La informacion aparece oculta */

.hi-info {
    display: none;
}

/* Al pasar el mouse sobre la celda de la fecha aparece la información en una caja 
flotante */

.hi:hover .hi-info {
    display: block;
    position: fixed;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    top: 8%;
    left: 25%;
    right: 20%;
    background-image: linear-gradient(red, rgb(185, 98, 98));
    color: white;
}

/* Creditos-------------------------- */


/* Fila de referencias */

.cred-row1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

/* Columna de referencias  */

.cred-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

/* Estilo de la lista de referencias */

.cred-row1 ul {
    list-style: none;
}

/* Formato de cada elemento de la lista de referencias */

.cred-row1 ul li {
    padding: 8px;
}

/* El mapa del sitio tiene estilo de cuadrados en cada item */

.cred-row1 .site-map ul li {
    padding: 2px;
    list-style: square;
}

/* Color de la celda al pasar el mouse sobre cada item */

.cred-row1 ul li:hover {
    background-color: rgb(219, 196, 188);
}

/* Color del item al pasar el mouse sobre cada item */

.cred-row1 .site-map ul li:hover {
    background-color: rgb(205, 188, 219);
}

/* Firma de autoría */

.author {
    border-left: rgb(201, 19, 19);
    border-style: none none none solid;
    border-width: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-image: linear-gradient(to right, rgba(245, 185, 185, 0.863), rgb(255, 255, 255));
}

/* Responsivines--------------------- */

/* Cambios al reducir la pantalla a menos de 1000px */

@media only screen and (max-width: 1000px) {
    .flex-col-evt {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 40%;
        margin-left: 10%;
    }
}

/* Cambios al reducir la pantalla a menos de 800px */

@media only screen and (max-width: 800px) {
    .flex-col-ch {
        width: 50%;
    }
    .flex-row-ch {
        padding-left: 4%;
        padding-right: 4%;
    }
    .flex-col-place {
        width: 100%;
    }
    .flex-col-evt {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 40%;
        margin-left: 5%;
    }
    .hi:hover .hi-info {
        display: block;
        /*position: absolute; */
        position: fixed;
        padding-top: 1%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 2%;
        top: 8%;
        left: 20%;
        right: 2%;
        background-image: linear-gradient(red, rgb(185, 98, 98));
        color: white;
    }
    .hi-row {
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 2%;
        margin-bottom: 30%;
    }
    .news-card {
        width: 45%;
    }
    .cred-col{
        width: 100%;
    }
    .cred-row1 {
        flex-direction: column-reverse;
    }
}

/* Cambios al reducir la pantalla a menos de 500px */

@media only screen and (max-width: 500px) {
    .flex-col-ch {
        width: 100%;
    }
    .flex-row-ch {
        padding-left: 4%;
        padding-right: 4%;
    }
    .flex-col-place {
        width: 100%;
    }
    .flex-col-evt {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40%;
        margin-left: 0%;
    }
    .news-card {
        width: 90%;
        margin-bottom: 3%;
    }
}