@charset "UTF-8";
/* Fuente para todo el documento */
* {
    font-family: "Lucida Sans";
}
/* Variables de color para todo el documento */
body {
    background-color: rgb(29, 28, 28);
    --color1: rgb(188, 190, 214);
    --color2: rgb(255, 255, 255);
    --gradiente1: linear-gradient( rgba(87, 0, 128, 0.863), rgb(183, 157, 201));
}

/* Color del footer */
.foot {
    color: wheat;
}

/* Fila de que se usa como introducción en cada pagina */

.cred-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    margin: auto;
    color: var(--color2);
    ;
}

/* Home ---------------------------------------- */

/* Fila del panel de bienvenida */

.home-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0%;
}

/* Columna del panel de bienvenida */

.home-col {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    background-image: url(Images/fondo-azul.jpg);
}

/* Pantalla negra que permite que el texto blanco se vea */

.black-screen {
    opacity: 1;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.336);
}

/* Tamaño del titulo de la fuente */

.primary-jumbo {
    font-size: 60px;
}

/* Alineacion del texto del panel de bienvenida */

.tx-white {
    color: var(--color2);
    z-index: 1;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 10%;
}

/* Fila de noticias */

.news-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

/* Columna o tarjetas de noticias */

.news-card {
    display: flex;
    flex-direction: column;
    width: 31%;
    transition: transform 1s;
    padding-bottom: 5%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 1%;
    background-color: var(--color1);
    border-radius: 20px;
    word-wrap: break-word;
}

/* Titulo de cada tarjeta */

.news-card h3 {
    text-align: right;
}

/* Titulo de la sección de noticias */

.news-title {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    color: var(--color2);
}

.news-title hr {
    background-color: var(--color2);
}

/* Tamaño de la imagen de cada tarjeta */

.news-card img {
    width: 100%;
}

/* Color de la referencia */

.reference {
    color: rgb(111, 101, 119);
}

/* Animación de la tarjeta al pasar el mouse sobre la tarjeta */

.news-card:hover {
    /*     transform: scale(1.1); */
    color: var(--color2);
    box-shadow: 10px 10px rgba(145, 139, 139, 0.767);
    background-image: var(--gradiente1);
    z-index: 1;
}

/* El color del texto de la referencia cambia con el hover */

.news-card:hover .reference {
    color: rgb(204, 199, 231);
}

/* Lugares------------------------------------------ */

/* Fila de lugar */

.flex-row-place {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

/* Columnas de lugar */

.flex-col-place {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Tarjeta de lugar */

.place-card {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 2%;
}

/* Titulo de la tarjeta */

.place-card h4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    margin-bottom: 0%;
    min-width: 20%;
    word-wrap: break-word;
    background-color: var(--color1);
}

/* Texto de la tarjeta */

.place-card p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

/* Información oculta de la tarjeta */

.place-info {
    max-height: 0px;
    overflow: hidden;
    background-image: var(--gradiente1);
    color: white;
    transition: max-height 1s;
}

/* Botón de fuente de la información */

.btn-source {
    background-color: rgb(241, 241, 245);
    padding: 1%;
    padding-left: 2%;
    border-radius: 10px;
    margin: 5%;
    width: fit-content;
}

/* Color y decoración del botón de fuente de información */

.btn-source a {
    text-decoration: none !important;
    color: black;
}

/* Cambio de color del botón de fuente al pasar el mouse sobre él */

.btn-source:hover {
    background-color: rgb(184, 13, 161);
    color: white;
}

/* Color de la letra del botón al cambiar de color debido al hover */

.btn-source:hover a {
    color: white;
}

/* Tamaño y posición de la imagen */

.place-card img {
    width: 40%;
    height: 50%;
    margin-bottom: 0%;
}

/* Color de la tarjeta al pasar el mouse sobre ella */

.place-card:hover p {
    color: white;
}

/* Animación lugares */

/* La tarjeta crece y permite que la información se muestre */

.place-card:hover .place-info {
    max-height: 700px;
    background-image: var(--gradiente1);
}

/* Personajes---------------------------------------- */

/* Fila de personajes */

.flex-row-ch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

/* Columna de personajes */

.flex-col-ch {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 10px;
    height: 0%;
}

/* Tarjeta de un personaje */

.ch-card {
    display: flex;
    flex-direction: row;
    text-align: left;
    min-height: max-content;
}

.ch-info {
    background-color: var(--color1);
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
}

/* Titulo de la tarjeta */

.ch-card h4 {
    padding-bottom: 2%;
    padding-top: 30px;
    color: black;
}

/* Contenido de la tarjeta */

.ch-card p {
    text-align: left;
    color: black;
}

/* Footer de la tarjeta con la referencia de la información */

.ch-source {
    color: rgb(116, 111, 111);
    padding: 4%;
    padding-left: 20px;
    vertical-align: middle;
}

/* Tamaño y posición de la imagen */

.ch-card img {
    width: 50%;
    height: 100%;
    margin-bottom: 5%;
}

/* Eventos------------------------------------- */

/* Fila de tarjetas de actividades */

.flex-row-evt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 6%;
    padding-right: 6%;
    margin: auto;
}

/* Columnas de  actividades*/

.flex-col-evt {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Tarjeta de actividades */

.evt-card {
    text-align: center;
    position: relative;
    background-color: rgb(221, 218, 213);
    margin: 2%;
    height: 100%;
}

/* Imagen de la tarjeta */

.evt-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Distancia del ancla del titulo respecto a la fila superior */

#ancla1 {
    padding-top: 50px;
}


/* Informacion de la tarjeta que tiene opacidad cero y por lo tanto aparece oculta */

.evt-info {
    background-color: rgba(87, 0, 128, 0.863);
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

/* Posición del texto en la tarjeta */

.evt-info p {
    margin: 3%;
}

/* Posición del titulo */

.evt-info h4 {
    margin: 3%;
}

/* Al pasar el mouse sobre la tarjeta la opacidad pasa a 1 y se ve el texto encima de la imagen */

.evt-card:hover .evt-info {
    max-height: 100%;
}

/* Posición y tamaño del botón de la fuente de información */

.evt-info .btn-source {
    margin-left: 46%;
    width: 45px;
    text-align: left;
}

/* Historia del universo marvel---------------- */

/* Contenedor del elemento flotante */

.hi-container {
    position: relative;
}

/* Fila de historias */

.hi-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 20%;
    margin-top: 2%;
    margin-bottom: 30%;
}

/* Tamaño de las celdas de la linea de tiempo */

.hi {
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-radius: 10px;
    position: relative;
    background-color: var(--color1);
}

/* Posición de la fecha */

.date {
    margin: 60px;
    background-color: var(--color1);
    font-size: 30px;
    text-shadow: 3px 3px 3px ;
    
}

/* Tamaño de la imagen */

.hi-info img {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.hi-info h3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.hi-info p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}

/* Selectores */

/* La informacion aparece oculta */

.hi-info {
    position: absolute;
    max-width: 0px;
    max-height: 0px;
    width: 300%;
    overflow: hidden;
    transition: max-height 2s, max-width 1s;
    background-image: var(--gradiente1);
    color: white;
    z-index: 1;
}

/* Al pasar el mouse sobre la celda de la fecha aparece la información en una caja 
flotante */

.hi:hover .hi-info {
    position: absolute;
    max-width: 1000px;
    max-height: 1200px;
    width: 300%;
    background-image: var(--gradiente1);
    color: white;
    z-index: 1;
}

/* Creditos-------------------------- */

/* Fila de referencias */

.cred-row1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

/* Columna de referencias  */

.cred-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

/* Estilo de la lista de referencias */

.cred-row1 ul {
    list-style: none;
    color: var(--color2);
}

/* Formato de cada elemento de la lista de referencias */

.cred-row1 ul li {
    padding: 8px;
}

/* El mapa del sitio tiene estilo de cuadrados en cada item */
.site-map{
    color: var(--color2);
}
.cred-row1 .site-map ul li {
    padding: 2px;
    list-style: square;
}

/* Color de la celda al pasar el mouse sobre cada item */

.cred-row1 ul li:hover {
    background-color: var(--color1);
    color: black;
}

/* Color del item al pasar el mouse sobre cada item */

.cred-row1 .site-map ul li:hover {
    background-image: linear-gradient(to right, rgba(90, 99, 184, 0.863), rgb(157, 198, 201));
}

.cred-row1 .site-map ul li:hover a {
    color: var(--color2);
}

/* Seleccionar mapa del sitio rojo */
.red-map{
    display: none;
}
/* Ocultar el otro mapa del sitio */
.blue-map{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

/* Firma de autoría */
.author{
    border-left: rgb(73, 61, 73);
    border-style: none none none solid;
    border-width: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-image: linear-gradient(to right, rgba(0, 13, 128, 0.863), rgb(157, 198, 201));
}
/* Responsivines--------------------- */

/* Cambios al reducir la pantalla a menos de 1000px */

@media only screen and (max-width: 1000px) {
    .flex-col-evt {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 40%;
        margin-left: 10%;
    }
    .place-card {
        flex-wrap: wrap;
        min-width: 50%;
    }
    .place-card h4 {
        min-width: 55%;
        max-width: 55%;
        word-wrap: break-word;
    }
    .place-info {
        min-width: 95%;
        max-width: 95%;
    }
}

/* Cambios al reducir la pantalla a menos de 800px */

@media only screen and (max-width: 800px) {
    /* Home */
    .news-card {
        width: 45%;
    }
    /* Lugares */
    .flex-col-place {
        width: 100%;
    }
    .flex-col-evt {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 40%;
        margin-left: 5%;
    }
    /* Personajes */
    .flex-col-ch {
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
    }
    .flex-row-ch {
        padding-left: 4%;
        padding-right: 4%;
    }
    .ch-card {
        flex-direction: column;
    }
    .ch-card img {
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
    }
    .ch-info {
        margin-left: 0px;
        margin-bottom: 25px;
    }
    /* Historia */
    .hi{
        margin: 30px;
    }
    .hi-info {
        width: 200%;
    }
    .hi:hover .hi-info {
        width: 200%;
    }
    .hi-row {
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 2%;
        margin-bottom: 90%;
    }
    .cred-col{
        width: 100%;
    }
    .cred-row1 {
        flex-direction: column-reverse;
    }
    /* Cambios en los creditos */
    .blue-map{
        width: 100%;
    }
    
}

/* Cambios al reducir la pantalla a menos de 500px */

@media only screen and (max-width: 500px) {
    .flex-col-ch {
        width: 100%;
    }
    .flex-row-ch {
        padding-left: 4%;
        padding-right: 4%;
    }
    .flex-col-place {
        width: 100%;
    }
    .flex-col-evt {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40%;
        margin-left: 0%;
    }
    .news-card {
        width: 90%;
        margin-bottom: 3%;
    }
    /* Historia */
    .hi-row{
        margin-bottom: 100%;
    }
}